/* Albums Posts Page */

#albumpost-page-div {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
  height: auto;
  margin-bottom: 7%;
  width: 100%;
}

#albumpost-page-div .title {
  width: 35%;
}

#albumpost-page-div .img-src {
  width: 25%;
}

#albumpost-page-div hr {
  width: 50%;
  margin: auto;
  height: 3px;
  border-radius: 50%;
}

#albumpost-page-div .submit-img-src {
  margin-left: 1%;
  font-size: 1.5rem;
}

#albumpost-page-div .ql-editor {
  overflow-y: scroll;
  background-color: #fff;
}

#albumpost-page-div .preview-img {
  width: 20%;
}
