/* albums Page */

#albums-page-div {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 7%;
}

#albums-page-div .albums-cards {
  padding: 4% 13%;
  margin: 0;
}

#albums-page-div .title {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-left: 3%;
}

#albums-page-div .title-divider {
  width: 30%;
  height: 3px;
  margin-left: 2%;
  margin-bottom: 7%;
}

/* ================================== */
/* Album Card */

#albums-page-div .card {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

#albums-page-div .card-body {
  padding: 0;
}

#albums-page-div .card-title {
  width: 100%;
  border-radius: 10px;
}

#albums-page-div .card-body hr {
  width: 70%;
  height: 2px;
  border-radius: 50%;
  margin: auto;
}

#albums-page-div .card-text {
  font-weight: 700;
}

/* ================================== */
/* Carousel Control */

.album-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundcolor: rgba(255, 255, 255, 0.75);
}

.album-modal-content {
  margin: 2%;
  border: 1px solid #ccc;
  background: #fff;
  webkitoverflowscrolling: touch;
  borderradius: 4px;
  outline: none;
}

#carouselAlbums img {
  width: 100%;
  height: 88vh;
  object-fit: contain;
}

#carouselAlbums .carousel-control {
  width: 5%;
  background-color: #000;
}

#carouselAlbums .carousel-item {
  padding: 0 5%;
}