#dashboard-div {
    text-align: center;
    margin-bottom: 7%;
}

#dashboard-div .header h1 {
    display: inline-block;
    margin: 20px;
}

#dashboard-div .new-posts button {
    font-size: 1.4rem;
}

#dashboard-div .card {
    width: 70%;
}

#dashboard-div .card-body {
    padding: 0;
}

#dashboard-div .card-title {
    width: 100%;
}

#dashboard-div .card-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
}

#dashboard-div .card button {
    width: 50%;
}