/* Guide */

#guide-div {
  margin: 4% 7%;
  background-color: white;
  border-radius: 10px;
}

#guide-div .thumbnail {
  width: 100%;
  border-radius: 10px;
  height: 700px;
  object-fit: fill;
}

#guide-div .title {
  font-weight: 700;
  font-size: 3rem;
}

#guide-div .para {
  font-size: 1.1rem;
}

#guide-div .para img {
  max-width: 100%;
}
