/* Guides Page */

#guides-page-div {
  font-family: "Montserrat", sans-serif;
}

#guides-page-div .guides-cards {
  padding: 4% 13%;
  margin: 0;
}

#guides-page-div .title {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding-left: 3%;
}

#guides-page-div .title-divider {
  width: 30%;
  height: 3px;
  margin-left: 2%;
  margin-bottom: 7%;
}

#guides-page-div .card {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

#guides-page-div .link {
  text-decoration: none;
}

#guides-page-div .card-title {
  font-weight: bold;
}
