/* Homepage */

#home-page-div {
  text-align: center;
}

/* ========================================================== */

/* Head Image */
#home-page-div .head-img {
  width: 80%;
  height: auto;
}

/* ========================================================== */

/* Features */
#home-page-div .features-div {
  padding: 4% 7%;
}

#home-page-div .features-title {
  font-weight: 700;
  font-size: 4rem;
  text-shadow: 0 0 20px black;
}

#home-page-div .features-divider {
  width: 50%;
  margin: 1.5% auto;
  height: 3px;
  border-radius: 30%;
}

#home-page-div .features h3 {
  font-size: 4rem;
}

#home-page-div .features {
  margin: auto;
  margin-top: 3%;
}

#home-page-div .card {
  width: 60%;
  height: 80%;
}

#home-page-div .card-text {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 5%;
  font-weight: 700;
}

/* ========================================================== */

/* Guides */
#home-page-div .guides {
  padding: 6% 16% 1%;
  text-align: center;
}

#home-page-div .guides img {
  width: 40%;
}

#home-page-div .guides .btn {
  font-size: 1.2rem;
}

#home-page-div .guides div {
  background-color: #1a1a40;
  padding: 2.5%;
  overflow: auto;
  margin-bottom: 8%;
  border-radius: 3px;
}

/* Left Image Guides */
#home-page-div .beginners,
#home-page-div .events {
  text-align: left;
}

#home-page-div .beginners img,
#home-page-div .events img {
  float: left;
  margin-right: 3%;
}

#home-page-div .beginners h1,
#home-page-div .events h1 {
  clear: right;
  font-weight: 700;
  font-size: 3.5rem;
}

#home-page-div .beginners p,
#home-page-div .events p {
  clear: right;
  font-size: 1.6rem;
  margin: 0;
}

/* Right Image Guides */
#home-page-div .raiding,
#home-page-div .albums {
  text-align: right;
}

#home-page-div .raiding img,
#home-page-div .albums img {
  float: right;
  margin-left: 3%;
}

#home-page-div .raiding h1,
#home-page-div .albums h1 {
  clear: left;
  font-weight: 700;
  font-size: 3.5rem;
}

#home-page-div .raiding p,
#home-page-div .albums p {
  clear: left;
  font-size: 1.6rem;
  margin: 0;
}

/* ========================================================== */

/* Discord Us */

#home-page-div .discord-div {
  position: relative;
  text-align: center;
}

#home-page-div .discord-div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: grayscale(50%);
}

#home-page-div .discord {
  position: absolute;
  left: 15%;
  top: 40%;
  transform: translate(-8%, -50%);
}

#home-page-div .discord-div h1 {
  font-size: 8rem;
  font-weight: 700;
  padding-top: 15%;
  text-shadow: 0 0 20px black;
}

#home-page-div .discord-div button {
  text-shadow: 0 0 5px black;
  font-size: 2.5rem;
  border-width: 3px;
}

/* ========================================================== */

/* Homepage Responsive */
@media (max-width: 1028px) {
  /* Head Image */
  #home-page-div .head-img {
    width: 100%;
    height: auto;
  }

  /* Features */
  #home-page-div .features-title {
    font-weight: 700;
    font-size: 4.6rem;
    padding-top: 8%;
    text-shadow: 0 0 20px black;
  }

  #home-page-div .features-divider {
    width: 70%;
    margin: 1.5% auto;
    height: 3px;
    border-radius: 30%;
  }

  #home-page-div .features {
    margin: auto;
    margin-top: 8%;
  }

  #home-page-div .features h3 {
    font-size: 8rem;
  }

  #home-page-div .card {
    width: 70%;
    height: 80%;
  }

  #home-page-div .card-text {
    font-size: 3rem;
    margin-bottom: 30%;
    margin-left: 12%;
    margin-right: 8%;
  }

  /* Guides */
  #home-page-div .guides {
    padding: 15% 10% 1%;
  }

  #home-page-div .guides img {
    width: 100%;
    margin-bottom: 3%;
  }

  #home-page-div .guides .btn {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 2%;
  }

  #home-page-div .guides div {
    background-color: #1a1a40;
    padding: 2.5%;
    overflow: auto;
    margin-bottom: 8%;
    border-radius: 3px;
  }

  #home-page-div .guides h1 {
    font-weight: 700;
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 2%;
  }

  #home-page-div .guides p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3%;
  }

  /* Discord */

  #home-page-div .discord {
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translate(-8%, -50%);
  }

  #home-page-div .discord-div h1 {
    font-size: 4rem;
    font-weight: 700;
    padding-top: 15%;
    text-shadow: 0 0 20px black;
  }

  #home-page-div .discord-div button {
    text-shadow: 0 0 5px black;
    font-size: 2rem;
    border-width: 3px;
  }
}
