/* Login Page */

#login-page-div {
  padding-top: 14%;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-bottom: 7%;
  margin-bottom: 7%;
}

#login-page-div .login-title {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
}

/* Responsive */

@media (max-width: 1028px) {
  #login-page-div input {
    color: #fff;
  }
}
