/* Members Page */
#members-page-div {
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

#members-page-div .cover-img {
  object-fit: cover;
  width: 100%;
  height: 750px;
}

#members-page-div .members-title {
  font-size: 7rem;
  text-shadow: 0 0 20px black;
  font-family: "Pacifico", cursive;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;
}

#members-page-div h2 {
  margin-top: 10%;
  font-weight: 700;
  font-size: 2rem;
}

#members-page-div .members-card-div {
  margin: 8% 7%;
}

#members-page-div .card-title {
  font-family: "Pacifico", cursive;
}

#members-page-div .card-img-top {
  width: 100px;
  margin: auto;
  height: 100px;
  border-radius: 50%;
}
