/* Posts Page */

#post-page-div {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
  height: auto;
  width: 100%;
}

#post-page-div .title {
  width: 65%;
}

#post-page-div .para {
  align-self: center;
  height: 500px;
  width: 65%;
}

#post-page-div .ql-editor {
  overflow-y: scroll;
  background-color: #fff;
}

#post-page-div .preview-img {
  width: 20%;
}
