/* Above Div */
#footer-div {
  color: #f0ad4e;
  font-weight: 700;
  position: relative;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer-div .company-links {
  padding-top: 1.4%;
}


#footer-div a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

#footer-div h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

#footer-div .company-links p {
  font-size: 1.4rem;
  margin: 0;
}

/* Divider */
#footer-div .footer-divider {
  border-radius: 50%;
  height: 3px;
}

/* Credits */
#footer-div .credit-div a {
  font-weight: 700;
}

@media (max-width: 1028px) {

  #footer-div .company-links {
    padding-top: 2.5%;
  }
  
  #footer-div .container {
    margin: 4% auto 2%;
  }
}