/* Navigation Bar */


.navbar-brand {
    font-family: "Pacifico", cursive;
    font-size: 2.2rem;
    padding-right: 0;
  }

.navbar-brand-img {
  width: 40px;
  margin-left: 2%;
  margin-right: 3%;
}
