body {
  background-color: #1a1a40;
  font-family: "Montserrat", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

@media (max-width: 1028px) {
  input {
      color: #fff;
  }
}
